* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    height: 100%;
    color: #222222;
    font-family: 'Lato', sans-serif;
}

.header {
    height: 100px;
    min-width: 1140px;
    
    border-bottom: 1px solid #ececec;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
    margin-right: 37px;
}

.header-form {
    display: flex;
    position: relative;
}

.text-mark {
    color: #f16d7f;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.logo_image {
    margin-right: 13px;
}

.header-form__browse-btn {
    padding: 10px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    border-right: 0;
    background-color: #f5f5f5;
    font-size: 14px;
    font-weight: 500;
}

.header-form__search-inp {
    padding: 10px 46px 10px 16px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    outline: 0;
}

.header-form__submit-btn {
    position: absolute;
   height: 39px;
    width: 38px;
    right: 0;
    padding: 15px;
    background:url(img/fl.png) no-repeat no-repeat center #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0 3px 3px 0;
    outline: 0;
}

.button {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 38px;
    background-color: #f16d7f;
    padding: 0px 19px;
    text-decoration: none;
    text-transform: capitalize;
    border: 1px solid transparent;
}

.button:hover {
    border: 1px solid #f16d7f;
    color: #f16d7f;
    background: #fff;
}

.header-right {
    display: flex;
    align-items: flex-end;
}

.cart-btn {
    margin-right: 25px;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top
}

.menu > li {
    list-style-type: none;
}

.menu__el {
    display: block;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 18px 16px 18px;
    border-bottom: 2px solid transparent;
}

.menu__el:hover {
    border-bottom: 2px solid #f16d7f;
}

.slider {
    height: 613px;
    width: 100%;
    background-color: #e8e8e8;
}

.slider-back {
    background: url(img/Layer_24.jpg) 0px -55px;
    height: 100%;
}

.slider-text-h2 {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 10px;
}

.slider-text-h3 {
    font-size: 40px;
    line-height: 40px;
}

.slider-text-field {
    font-weight: 400;
    display: flex;
    align-items: center;
    padding-top: 211px;
}

.pink-left-border {
    height: 92px;
    width: 12px;
    background: #f16d7f;
    margin-right: 12px;
}

.slider-text {}

.offer-block {
    display: flex;
    justify-content: space-between;
    margin-top: 88px;
}

.offer-block-big {
    display: block;
    height: 542px;
    ;
    width: 560px;
    background: #ccc;
    margin: 20px 0;
    color: #222;
    text-decoration: none;
}

.offer-block-small {
    display: block;
    height: 261px;
    width: 560px;
    background: #dadad2;
    margin: 20px 0;
    color: #222;
    text-decoration: none;
}

.hot-deal-for-men-block {
    background: url(img/Layer_30.jpg)
}

.accesories-block {
    background: url(img/Layer_37.jpg) 160px no-repeat #dadad2;
    ;
}

.offer-for-woman-block {
    background: url(img/Layer_32.jpg);
}

.arrivals-for-kids-block {
    background: url(img/Layer_31.jpg);
}

.offer-block-describe > h5 {
    font-size: 18px;
    text-transform: uppercase;
}

.offer-block-describe > h4 {
    font-size: 30px;
    text-transform: uppercase;
}

.offer-block-describe {
    margin-top: 26px;
    display: inline-block;
    padding: 16px 20px;
    background: #fff;
}

.featured-items-slider > h4 {
    font-size: 18px;
    text-transform: capitalize;
}

.featured-items-slider {
    text-align: center;
}

.featured-items-slider > p {
    color: #9f9f9f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px
}

.card-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}


.product-card {
    width: 263px;
    text-align: center;
    padding-bottom: 20px;
    border: 1px solid transparent;
    margin-top: 40px;
}

.product-card:hover {
    border: 1px solid #ccc;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.product-card {
    position: relative;
}

.product-card:hover .product-card__image {
    filter: brightness(0.3);
}

.product-card__caption {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #222;
}

.product-card__price {
    padding-top: 17px;
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}



.product-card__text-box {
    text-align: left;
    padding: 20px 14px;
}

.product-card-image {
    width: 100%;
}

.add-to-cart-hover {

    margin: auto;
    color: white;
    text-decoration: none;
    padding: 15px;
    border: 1px solid #fff;
}

.add-to-cart-hover:hover {
    background: #fff;
    color: #222;
}

.product-card:hover .add-to-cart-box {
    opacity: 1;
}

.browse-all-btn {
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 48px;
    text-align: center;
    display: inline-block;
}

.offer-woman-block {
    display: flex;
    justify-content: space-between;
    background-color: #222224;
    margin-top: 60px;
    margin-bottom: 40px;
}

.offer-woman-block-captpion {}

.offer-woman-block-left {
    width: 767px;
    height: 529px;
    background: url(img/Layer_38.jpg);
}

.offer-woman-block-left-filter {
    width: 100%;
    height: 100%;
    background: url(img/Layer_39.png);
    position: relative;
}

.offer-woman-block-main-text {
    color: white;
    font-size: 54px;
}

.offer-woman-block-secondary-text {
    font-size: 32px;
    color: white;

}

.offer-woman-block-caption {
    position: absolute;
    top: 145px;
    left: 40px;
}

.offer-woman-block-right {
    width: 373px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.condition-block {
    width: 324px;
    display: flex;
}

.condition-block__caption {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 17px;
}

.condition-block__text {
    color: #fff;
}



.condition-block__image {}

.condition-block__image-block {
    margin-right: 30px;
}

.condition-block__describe {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.review-subscribe-slider {
    margin-top: 100px;
    height: 438px;
    min-width: 1140px;
    background: url(img/Layer_41.jpg) no-repeat no-repeat center;
    background-size: cover;
}

.rev-sub-slider {
    display: flex;
    height: 100%;
}



.rev-sub-slider-left {
    height: 100%;
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    border-right: 1px solid white;
}

.rev-sub-slider-right {
    display: inline-block;
    padding: 110px 90px;
}

.add-to-cart-box {
    position: absolute;
    top: 98px;
    opacity: 0;
    width: 100%;
}

.rev-block_text {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: #222224;
    margin-bottom: 20px;
    line-height: 26px;
}

.rev-block__image-block {
    display: inline-block;
    width: 83px;
    height: 83px;
    border-radius: 42px;
}

.rev-block_photo {
    border-radius: 42px;
}

.rev-block {
    width: 500px;
    display: flex;
    padding-top: 110px;
}

.rev-block__text-block {
    padding: 12px 28px;
}

.rev-block_text-autor {
    font-weight: 700;
}

.rev-block_place {
    font-size: 12px;
    font-weight: 300;
}

.rev-block_page {
    display: inline-block;
    background-color: #d6d6d6;
    width: 38px;
    height: 4px;
    margin-right: 13px;
}

.rev-block_page:hover {
    background-color: #f16d7f;
}

.rev-block_page__active {
    background-color: #f16d7f;
}

.rev-block_page-block {
    padding-left: 110px;
}

.sub-block_caption {
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 54px;
    text-transform: uppercase
}

.sub-block_text-caption {
    font-size: 14px;
    line-height: 14px;
}

.sub-block {
    height: 100%;
}

.sub-block_text {
    text-align: center;
}

.sub-block_form {
    margin-top: 35px;
    display: flex;
    justify-content: center
}

.sub-block_input {
    width: 284px;
    height: 46px;
    border-radius: 23px;
    border: none;
    outline: none;
    background-color: #e1e1e1;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    padding: 0 110px 0 28px;
    color: #222224;
}

.sub-block_submit {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 46px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    border: 2px solid #f16d7f;
    outline: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    padding: 0 20px;
}

.sub-block_submit:hover {
    background-color: #fff;
    color: #f16d7f;
}

.sub-block_form-div {}

.pos-relat {
    position: relative;
}

.footer {
    height: 80px;
    background-color: #e6e6e6;
    min-width: 1140px;
}

.wrap {}

.about {
    margin-top: 120px;
    margin-bottom: 90px;
}

.about-company {
    flex: 1 400px;
}

.container-flex {
    display: flex;
}

.site-link { 
    flex: 2 500px;
    display: flex;
    justify-content: space-between;
}

.about-company_text-block {
    padding-right: 60px;
}

.about-company-text {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;color: #898989;
    padding-right: 20px;
}

.site-link_block {
    flex: 1;
}

.map-link>li{
        list-style-type: none;
}

.map-item {
    display: inline-block;
    font-size: 16px;
    padding: 15px 10px 10px 10px;
    font-weight: 400;
    color: #898989;
    text-decoration: none;
    border-bottom: 4px solid  transparent;
}

.map-item:hover{
    border-bottom: 4px solid #f16d7f;
}

.map-link {
    margin-top: 30px;
}

.map-link_caption {
    padding: 0 10px;
    font-size: 18px;
}

.copy-right-text {
    color: #7a7a7a;
font-size: 16px;
font-weight: 400;
}

.icon-link {
    display: inline-block;
    margin-left: 4px;
    line-height: 32px;
    min-width: 32px;
    text-align: center;
    font-size: 15px;
    background-color: #ffffff;
    padding: 0px 0px;
    text-decoration: none;
    color: #b2b2b2;
}

.icon-link:hover{
   background-color: #f16d7f;
    color: #f7f7f8;
}


